.home {
    width: 100%;
}

// @include for-mobile-wide-layout {
//     .logo-container {
//         height: 150px;
//         width: 240px;
//         background-size: contain;
//     }
// }

.cmp-animation-enter {
    opacity: 0;
}

.cmp-animation-enter-active {
    opacity: 1;
    transition: opacity 700ms;
}
.cmp-animation-exit {
    opacity: 1;
}
.cmp-animation-exit-active {
    opacity: 0;
    transition: opacity 700ms;
}
