// Colors
$clr1: #363333;
$clr2: #272121;
$clr3: #e16428;
$clr4: #eeeeee;

$link-visited: #ce2e6c;
$link: #574f7d;


// Breakpoints

$mobile-narrow-breakpoint: 375px;
$mobile-wide-breakpoint: 460px;
$tablet-breakpoint: 720px;
$tablet-wide-breakpoint: 1000px;
$normal-breakpoint: 1200px;
$wide-breakpoint: 1440px;
$wider-breakpoint: 1680px;