// .header-container {
//     justify-content: center;
// }

.header-logo-container {
    padding: 10px 30px;
    img {
        height: 67px;
        width: 60px;
    }
}

.app-title-container {
    font-family: luckiest-guy;
    font-size: rem(50px);
}