.view-icon-container {
    height: 42px;
    width: 42px;
    
    .MuiSvgIcon-root {
        height: 100%;
        width: 100%;
    }

    .MuiSvgIcon-root:hover {
        fill: $clr3;
    }
}

.search-history {
    font-size: rem(14px);
    text-decoration: underline;
    margin-inline-start: 15px;
}