.title-container {
    background-color: $clr4;
    border-bottom: 1px solid $clr1;
    color: $clr1;
    min-width: 70%;
    height: 40px;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;

    &:hover {
        color: $clr3;
    }
}

.img-container {
    height: 200px;
    width: 200px;
    margin-top: 10px;
}

.preview-screen {
    opacity: 0;
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.74);
    color: white;
    padding: 0 10px;

    &:hover {
        opacity: 1;
    }
}

@include for-mobile-wide-layout {

    .title-container {
        min-width: unset;
        max-width: 100%;
        font-size: rem(14px);
    }

    .img-container {
        height: 110px;
        width: 110px;

        & img {
            height: 110px;
            width: 110px;
        }
    }
}
