.tiles :not(:last-child) {
    margin-inline-end: 15px;
}

.tiles {
    min-height: 420px;
}

.list {
    flex-direction: column;
    min-height: 320px;
}

.collection-list-container {
    margin: 10px 0px;
    flex-wrap: wrap;
}